.footer {
  background-color: #252525; /* Dark background */
  color: #f5f5f5; /* Light text */
  padding: 20px;
  text-align: center;
}

.footerText {
  margin: 0;
  font-size: 14px;
  color: #ffffff; /* Light grey text */
}
