.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #2b2b2b;
  border-radius: 8px;
  background-color: #1e1e1e; /* Dark background */
  color: #f5f5f5; /* Light text */
}

@media (max-width: 650px) {
  .container {
    width: 300px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #2d2d2d;
  border-radius: 4px;
  background-color: #2d2d2d; /* Dark input background */
  color: #f5f5f5; /* Light text */
}

.form input::placeholder,
.form textarea::placeholder {
  color: #888; /* Light placeholder text */
}

/* Button styles */
button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: rgb(0, 0, 0);
}

.saveButton {
  background-color: #d07b27;
}

button.primary {
  background-color: #8c8c8c;
}

button.secondary {
  background-color: #6c757d;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stepInput {
  display: flex;
  gap: 8px;
  align-items: center;
}

.stepInput textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #2b2b2b;
  border-radius: 4px;
  background-color: #2d2d2d; /* Dark textarea background */
  color: #f5f5f5; /* Light text */
}

.deleteStepButton {
  background-color: #dc3545; /* Red */
}

.addStepButton {
  background-color: #b7b7b7; /* Blue */
}

.preview {
  margin-top: 20px;
}

.form input:focus,
.form textarea:focus,
.form select:focus,
.form button:focus {
  outline: none; /* Remove the default outline */
  border-color: #d3cac248;
}
